/* подклчение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Jura:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Jura";
}
.container{
    width: 1570px;
    margin: 0 auto;
}
p{
    font-size: 28px;
}
a{
    font-size: 28px;
    color: #FFFFFF;
}
h1{
    font-family: "Geologica";
    font-size: 60px;
}
h2{
    font-family: "Geologica";
    font-size: 47px;
}
h3{
    font-size: 49px;
    color: #FFFFFF;
}
h4{
    font-size: 40px;
    color: #6D2932;
    margin-bottom: 30px;
}
.navigation{
    margin-top: 50px;
}
.navigation a{
    font-size: 28px;
    color: #6D2932;
    margin-right: 60px;
    transition: .5s;
}
.navigation a:hover{
    color: #89686c;
    transition: .3s;
}
.head{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.description{
    width: 650px;
    height: 725px;
    background-color: #E7E7E7;
    border-radius: 20px;
    margin-top: 140px;
}
.description h2{
    padding-top: 90px;
}
.description p{
    padding: 30px;
}
.description button{
    margin-top: 40px;
    width: 300px;
    height: 70px;
    background-color: #6D2932;
    color: #E7E7E7;
    border-radius: 20px;
    font-size: 25px;
}
.picture img{
    position: absolute;
    top: 0px;
    right: 0px;
}
.section-skills{
    background-color: #6D2932;
}
.section-skills .container h1{
    color: #FFFFFF;
    margin-top: 160px;
    padding-top: 120px;
}
.section-skills .heading{
    display: flex;
    flex-direction: row;
    padding: 80px 0 0 40px;
}
.section-skills .heading img{
    margin-right: 20px;
}
.section-skills .skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 110px;
}
.section-skills .type p{
    color: #FFFFFF;
    margin: 40px 0 0 40px;
    width: 525px;
}
.section-skills .type{
    width: 600px;
    height: 530px;
    border: 2px solid #FFFFFF;
}
.section-skills .description-skills{
    padding-bottom: 200px;
}
.section-portfolio h1{
    color: #6D2932;
    margin-top: 160px;
}
.section-portfolio .work{
    width: 1560px;
    height: 410px;
    border: 3px solid #6D2932;
    border-radius: 30px;
    color: #6D2932;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}
.section-portfolio .description-work{
    padding: 90px 0 0 60px;
}
.section-portfolio .work .link {
    margin-top: 20px;
}
.section-portfolio .work .link a {
    color: #6D2932;
}
.section-portfolio .work .link .arrow{
    margin-left: 20px;
    width: 20px;
    height: 20px;
    color: #6D2932;
}
.section-portfolio img{
    margin-right: 30px;
    border-radius: 50px;
    padding: 30px;
    margin-left: 30px;
}
.section-portfolio .work-2{
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
}
.section-portfolio .work-2 .description-work{
    padding-right: 60px;
}
.section-portfolio .works{
    margin-bottom: 100px;
}
.section-contact .head_contact{
    background-color: #6D2932;
    color:#FFFFFF;
}
.section-contact h1{
    font-family: "Jura";
    padding: 30px 0 30px 0;
}
.container-contact .line{
    width: 100%;
    border-top: 2px solid #6D2932;
}
.container-contact .line1{
    margin-top: 200px;
}
.section-contact .sot-seti a{
    color: #6D2932;
}
.section-contact .sot-seti {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 30px 0;
}
.section-contact .sot-seti .sot-set{
    width: 80px;
    height: 80px;
}
.section-contact .description-contact{
    margin-bottom: 200px;
}

